<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emoney.pointweb.repository.dao.mapper.PointLimitMapper">
    <resultMap id="BaseResultMap" type="com.emoney.pointweb.repository.dao.entity.PointLimitDO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="point_limittype" property="pointLimittype" jdbcType="INTEGER"/>
        <result column="point_listto" property="pointListto" jdbcType="INTEGER"/>
        <result column="point_limitvalue" property="pointLimitvalue" jdbcType="FLOAT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">

        id, point_limittype, point_listto, point_limitvalue, create_time,update_time,create_by,update_by,remark

    </sql>

     <insert id="insert" parameterType="com.emoney.pointweb.repository.dao.entity.PointLimitDO" useGeneratedKeys="true" keyProperty="id">
       INSERT INTO
       		dbo.t_point_limit
       		(point_limittype, point_listto, point_limitvalue, create_time,update_time,create_by,update_by,remark)
       	VALUES
       		(#{pointLimittype}, #{pointListto}, #{pointLimitvalue}, #{createTime}, #{updateTime}, #{createBy}, #{updateBy},#{remark})

    </insert>
    <select id="pageList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include> FROM dbo.t_point_limit
    </select>

        <select id="getByType" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM dbo.t_point_limit
         WHERE point_limittype=#{pointLimittype} AND point_listto=#{pointListto}
    </select>
</mapper>



